<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs in Pakistan - JOBAR pk</title>
<meta name="keywords" content="Jobs in Pakistan, Jobs Pakistan, Jobs, Careers, Recruitment, Employment, Hiring, Banking, CVs, Career, Finance, IT, Marketing, Online Jobs, Opportunity,Pakistan, Resume, Work, naukri, rizq, Rozi" />
<meta name="description" content="Find best Jobs in Pakistan, jobs listings and job opportunities on jobarPK. Browse more than 10K jobs in Pakistan and apply for free! jobarPK is Pakistan's leading job website where more than 2K top companies are posting jobs" />
<meta name="author" content="jobarPK" />
    <title>JOBAR</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- *********************************** Custom CSS  ******************************************************  -->
    <link rel="stylesheet" href="main.css">
    <!-- *********************************** Bootstrap  ******************************************************  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <!-- *********************************** <header>  ******************************************************  -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
     <!-- *********************************** <header>  ******************************************************  -->
    <header>
    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom py-0">
        <div class="container-fluid">
            <a class="navbar-brand jobar-logo" href="#"> <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="50.000000pt" height="50.000000pt" viewBox="0 0 100.000000 100.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M673 964 c13 -53 -1 -89 -60 -156 -24 -27 -43 -55 -43 -63 0 -8 -9 -19 -21 -25 -11 -7 -18 -14 -16 -17 3 -3 21 7 40 21 18 14 36 23 40 20 12 -12 120 28 143 53 32 34 32 60 0 28 -29 -29 -123 -78 -139 -72 -7 2 11 16 39 30 88 45 124 106 89 153 -13 18 -14 17 -15 -18 0 -44 -33 -86 -106 -136 l-49 -34 52 49 c28 26 56 58 62 70 17 34 13 88 -8 114 l-19 24 11 -41z"/> <path d="M252 978 c-37 -47 -19 -111 49 -172 43 -39 47 -45 30 -51 -22 -7 -112 34 -148 68 -34 30 -29 1 5 -33 24 -23 87 -46 152 -54 3 -1 21 -12 40 -25 l35 -24 -28 29 c-15 17 -25 32 -23 35 3 3 -17 31 -45 63 -54 63 -64 90 -56 142 6 37 5 40 -11 22z"/> <path d="M187 937 c-23 -59 11 -115 95 -158 55 -28 58 -17 6 20 -48 34 -78 77 -88 125 -5 25 -7 28 -13 13z"/> <path d="M432 822 c-27 -24 -28 -32 -2 -25 28 7 35 -19 16 -56 -22 -42 -18 -140 5 -125 15 9 10 -17 -11 -55 -12 -20 -44 -52 -73 -71 -53 -36 -68 -68 -52 -108 5 -14 9 -10 20 14 7 18 34 51 59 74 26 24 49 54 52 67 6 22 7 23 20 6 16 -21 18 -10 4 18 -6 11 -7 19 -1 19 5 0 12 -12 15 -26 4 -15 31 -52 61 -83 34 -36 55 -67 57 -86 l4 -30 13 27 c21 42 7 71 -54 113 -57 39 -71 56 -85 106 -6 21 -5 27 5 23 21 -8 28 53 16 121 -10 51 -9 59 7 71 16 12 15 13 -5 14 -12 0 -28 2 -35 5 -8 3 -24 -3 -36 -13z"/> <path d="M160 761 c0 -19 64 -44 127 -49 35 -2 63 -2 63 1 0 3 -35 13 -77 22 -43 10 -86 21 -95 26 -12 6 -18 6 -18 0z"/> <path d="M757 763 c-4 -4 -47 -17 -95 -29 -87 -22 -87 -22 -37 -23 64 -1 117 14 140 39 16 18 8 30 -8 13z"/> <path d="M199 697 c10 -13 29 -17 80 -16 101 1 123 17 24 18 -45 1 -90 4 -100 8 -16 6 -16 5 -4 -10z"/> <path d="M645 700 c-61 -3 -82 -7 -65 -12 35 -11 132 -9 150 2 23 14 12 15 -85 10z"/> <path d="M315 669 c-22 -6 -53 -8 -69 -6 -27 4 -27 3 -11 -10 24 -17 40 -16 101 2 63 19 67 18 24 -5 -19 -11 -50 -19 -68 -20 -20 0 -31 -4 -27 -10 10 -16 51 -11 92 11 l38 21 -28 -26 c-15 -14 -37 -26 -48 -26 -10 0 -19 -4 -19 -10 0 -20 40 -9 75 21 47 41 45 26 -2 -17 -24 -23 -31 -34 -21 -34 9 0 28 14 42 31 28 33 36 27 11 -9 -14 -19 -14 -21 -1 -16 8 3 18 14 21 25 7 20 -10 59 -25 59 -6 0 -9 6 -7 12 3 16 -28 19 -78 7z"/> <path d="M550 675 c0 -10 113 -36 136 -31 36 9 29 21 -13 21 -21 0 -57 4 -80 8 -24 4 -43 5 -43 2z"/> <path d="M556 648 c5 -7 2 -9 -9 -5 -25 9 -30 -9 -12 -45 l16 -33 -21 24 c-15 17 -20 19 -20 8 0 -21 18 -31 59 -34 l34 -2 -36 30 c-20 17 -37 35 -37 41 0 5 16 -4 35 -21 37 -32 59 -39 70 -21 3 6 -3 10 -13 10 -11 0 -30 9 -43 20 -28 22 -14 27 15 5 23 -17 72 -20 81 -5 4 6 -7 10 -25 10 -17 0 -46 7 -66 15 -22 9 -32 10 -28 3z"/> <path d="M450 523 c0 -6 -18 -35 -40 -64 -45 -60 -52 -103 -22 -139 l18 -23 -4 34 c-2 22 7 61 28 112 17 44 29 81 26 85 -3 3 -6 1 -6 -5z"/> <path d="M480 518 c0 -4 14 -41 31 -84 20 -49 29 -88 26 -107 l-4 -31 18 23 c28 34 24 84 -9 123 -16 18 -36 44 -45 58 -9 13 -17 22 -17 18z"/> <path d="M115 454 c15 -104 70 -166 180 -205 83 -29 135 -74 134 -115 l-1 -29 -8 29 c-14 45 -37 64 -109 87 -91 29 -146 63 -176 107 -17 25 -25 31 -25 19 0 -46 67 -123 120 -137 19 -5 54 -14 77 -20 90 -23 124 -81 87 -151 -15 -29 -15 -30 5 -20 11 6 29 23 40 37 30 38 29 131 0 168 -22 28 -94 70 -107 62 -9 -5 -100 39 -126 62 -28 24 -76 103 -76 123 0 10 -5 21 -11 25 -9 5 -10 -7 -4 -42z"/> <path d="M460 488 c0 -9 5 -20 10 -23 12 -8 13 -152 1 -159 -13 -8 -22 51 -16 108 l5 51 -14 -35 c-8 -19 -15 -47 -15 -62 -1 -27 27 -98 39 -98 10 0 40 69 40 94 0 26 -29 117 -41 131 -6 5 -9 2 -9 -7z"/> <path d="M808 475 c-13 -58 -69 -126 -132 -161 -33 -18 -63 -31 -68 -28 -4 3 -22 -3 -40 -12 -102 -51 -126 -150 -56 -229 33 -39 58 -48 34 -13 -9 12 -16 39 -16 59 0 45 39 83 103 99 112 28 164 63 188 128 15 40 4 49 -16 14 -25 -42 -72 -72 -167 -106 -78 -28 -93 -39 -122 -91 l-17 -30 6 30 c9 44 63 89 137 114 116 39 184 122 176 217 -3 39 -3 39 -10 9z"/> <path d="M140 231 c0 -43 37 -65 139 -80 35 -6 66 -12 68 -15 10 -10 -113 7 -144 20 -18 7 -33 9 -33 5 0 -18 39 -41 71 -41 64 -1 123 -18 141 -40 21 -25 25 -9 8 34 -12 32 -36 44 -129 68 -42 10 -85 28 -98 40 -13 12 -23 16 -23 9z"/> <path d="M763 215 c-18 -13 -67 -30 -108 -40 -81 -18 -115 -45 -115 -93 l0 -25 20 25 c16 22 30 26 96 31 51 4 82 11 95 23 29 26 23 35 -13 20 -18 -7 -60 -16 -93 -19 -74 -6 -42 8 39 18 46 5 66 13 88 35 15 16 28 33 28 39 0 13 2 14 -37 -14z"/> </g> </svg> </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDesktop">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  
                  
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" href="/contact">Contact us</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link custom-nav-link active" aria-current="page" href="/about_us">About us</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center mb-2 mb-md-0">
                   <a href="/notify"> <button class="btn btn-primary jobar-btn-notify me-2" type="button">
                        <i class="bi bi-bell-fill me-1"></i> Notify
                    </button></a>
                   <a href="/post_job"> <button class="btn btn-primary jobar-btn-postjob" type="button">Post Job</button></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- *********************** Mobile Nav  ***************************************************** -->
         <nav>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title jobar-logo" id="offcanvasNavbarLabel"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="50.000000pt" height="50.000000pt" viewBox="0 0 100.000000 100.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M673 964 c13 -53 -1 -89 -60 -156 -24 -27 -43 -55 -43 -63 0 -8 -9 -19 -21 -25 -11 -7 -18 -14 -16 -17 3 -3 21 7 40 21 18 14 36 23 40 20 12 -12 120 28 143 53 32 34 32 60 0 28 -29 -29 -123 -78 -139 -72 -7 2 11 16 39 30 88 45 124 106 89 153 -13 18 -14 17 -15 -18 0 -44 -33 -86 -106 -136 l-49 -34 52 49 c28 26 56 58 62 70 17 34 13 88 -8 114 l-19 24 11 -41z"/> <path d="M252 978 c-37 -47 -19 -111 49 -172 43 -39 47 -45 30 -51 -22 -7 -112 34 -148 68 -34 30 -29 1 5 -33 24 -23 87 -46 152 -54 3 -1 21 -12 40 -25 l35 -24 -28 29 c-15 17 -25 32 -23 35 3 3 -17 31 -45 63 -54 63 -64 90 -56 142 6 37 5 40 -11 22z"/> <path d="M187 937 c-23 -59 11 -115 95 -158 55 -28 58 -17 6 20 -48 34 -78 77 -88 125 -5 25 -7 28 -13 13z"/> <path d="M432 822 c-27 -24 -28 -32 -2 -25 28 7 35 -19 16 -56 -22 -42 -18 -140 5 -125 15 9 10 -17 -11 -55 -12 -20 -44 -52 -73 -71 -53 -36 -68 -68 -52 -108 5 -14 9 -10 20 14 7 18 34 51 59 74 26 24 49 54 52 67 6 22 7 23 20 6 16 -21 18 -10 4 18 -6 11 -7 19 -1 19 5 0 12 -12 15 -26 4 -15 31 -52 61 -83 34 -36 55 -67 57 -86 l4 -30 13 27 c21 42 7 71 -54 113 -57 39 -71 56 -85 106 -6 21 -5 27 5 23 21 -8 28 53 16 121 -10 51 -9 59 7 71 16 12 15 13 -5 14 -12 0 -28 2 -35 5 -8 3 -24 -3 -36 -13z"/> <path d="M160 761 c0 -19 64 -44 127 -49 35 -2 63 -2 63 1 0 3 -35 13 -77 22 -43 10 -86 21 -95 26 -12 6 -18 6 -18 0z"/> <path d="M757 763 c-4 -4 -47 -17 -95 -29 -87 -22 -87 -22 -37 -23 64 -1 117 14 140 39 16 18 8 30 -8 13z"/> <path d="M199 697 c10 -13 29 -17 80 -16 101 1 123 17 24 18 -45 1 -90 4 -100 8 -16 6 -16 5 -4 -10z"/> <path d="M645 700 c-61 -3 -82 -7 -65 -12 35 -11 132 -9 150 2 23 14 12 15 -85 10z"/> <path d="M315 669 c-22 -6 -53 -8 -69 -6 -27 4 -27 3 -11 -10 24 -17 40 -16 101 2 63 19 67 18 24 -5 -19 -11 -50 -19 -68 -20 -20 0 -31 -4 -27 -10 10 -16 51 -11 92 11 l38 21 -28 -26 c-15 -14 -37 -26 -48 -26 -10 0 -19 -4 -19 -10 0 -20 40 -9 75 21 47 41 45 26 -2 -17 -24 -23 -31 -34 -21 -34 9 0 28 14 42 31 28 33 36 27 11 -9 -14 -19 -14 -21 -1 -16 8 3 18 14 21 25 7 20 -10 59 -25 59 -6 0 -9 6 -7 12 3 16 -28 19 -78 7z"/> <path d="M550 675 c0 -10 113 -36 136 -31 36 9 29 21 -13 21 -21 0 -57 4 -80 8 -24 4 -43 5 -43 2z"/> <path d="M556 648 c5 -7 2 -9 -9 -5 -25 9 -30 -9 -12 -45 l16 -33 -21 24 c-15 17 -20 19 -20 8 0 -21 18 -31 59 -34 l34 -2 -36 30 c-20 17 -37 35 -37 41 0 5 16 -4 35 -21 37 -32 59 -39 70 -21 3 6 -3 10 -13 10 -11 0 -30 9 -43 20 -28 22 -14 27 15 5 23 -17 72 -20 81 -5 4 6 -7 10 -25 10 -17 0 -46 7 -66 15 -22 9 -32 10 -28 3z"/> <path d="M450 523 c0 -6 -18 -35 -40 -64 -45 -60 -52 -103 -22 -139 l18 -23 -4 34 c-2 22 7 61 28 112 17 44 29 81 26 85 -3 3 -6 1 -6 -5z"/> <path d="M480 518 c0 -4 14 -41 31 -84 20 -49 29 -88 26 -107 l-4 -31 18 23 c28 34 24 84 -9 123 -16 18 -36 44 -45 58 -9 13 -17 22 -17 18z"/> <path d="M115 454 c15 -104 70 -166 180 -205 83 -29 135 -74 134 -115 l-1 -29 -8 29 c-14 45 -37 64 -109 87 -91 29 -146 63 -176 107 -17 25 -25 31 -25 19 0 -46 67 -123 120 -137 19 -5 54 -14 77 -20 90 -23 124 -81 87 -151 -15 -29 -15 -30 5 -20 11 6 29 23 40 37 30 38 29 131 0 168 -22 28 -94 70 -107 62 -9 -5 -100 39 -126 62 -28 24 -76 103 -76 123 0 10 -5 21 -11 25 -9 5 -10 -7 -4 -42z"/> <path d="M460 488 c0 -9 5 -20 10 -23 12 -8 13 -152 1 -159 -13 -8 -22 51 -16 108 l5 51 -14 -35 c-8 -19 -15 -47 -15 -62 -1 -27 27 -98 39 -98 10 0 40 69 40 94 0 26 -29 117 -41 131 -6 5 -9 2 -9 -7z"/> <path d="M808 475 c-13 -58 -69 -126 -132 -161 -33 -18 -63 -31 -68 -28 -4 3 -22 -3 -40 -12 -102 -51 -126 -150 -56 -229 33 -39 58 -48 34 -13 -9 12 -16 39 -16 59 0 45 39 83 103 99 112 28 164 63 188 128 15 40 4 49 -16 14 -25 -42 -72 -72 -167 -106 -78 -28 -93 -39 -122 -91 l-17 -30 6 30 c9 44 63 89 137 114 116 39 184 122 176 217 -3 39 -3 39 -10 9z"/> <path d="M140 231 c0 -43 37 -65 139 -80 35 -6 66 -12 68 -15 10 -10 -113 7 -144 20 -18 7 -33 9 -33 5 0 -18 39 -41 71 -41 64 -1 123 -18 141 -40 21 -25 25 -9 8 34 -12 32 -36 44 -129 68 -42 10 -85 28 -98 40 -13 12 -23 16 -23 9z"/> <path d="M763 215 c-18 -13 -67 -30 -108 -40 -81 -18 -115 -45 -115 -93 l0 -25 20 25 c16 22 30 26 96 31 51 4 82 11 95 23 29 26 23 35 -13 20 -18 -7 -60 -16 -93 -19 -74 -6 -42 8 39 18 46 5 66 13 88 35 15 16 28 33 28 39 0 13 2 14 -37 -14z"/> </g> </svg></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="/contact">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="/about_us">About us</a>
                </li>
                <li class="nav-item">
                   <a href="/notify"><button class="btn  jobar-btn-notify w-100 mt-2" type="button">
                        <i class="bi bi-bell-fill me-1"></i> Notify
                    </button></a> 
                </li>
                <li class="nav-item">
                     <a href="/post_job"><button class="btn btn-primary jobar-btn-postjob w-100 mt-2" type="button">Post Job</button></a> 
                </li>
            </ul>
        </div>
    </div>
    </nav>
</header>
    <!-- *********************************** <header> End ******************************************************  -->
    <!-- *********************************** <Hero Section> Start ******************************************************  -->
       <section class="new-hero-section text-center py-5">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <h1 class="mb-4 new-hero-headline">Ready for  career Start? Your perfect match is  <span class="love-text"> waiting.</span></h1>
<form class="d-flex justify-content-center flex-wrap flex-md-nowrap new-hero-search-form" id="searchForm">
    <div class="input-group new-hero-input-group me-md-3 mb-3 mb-md-0">
     <input type="text" class="form-control new-hero-form-control" placeholder="Job Title, Skill or Company" aria-label="Job Title, Skill or Company">
                </div>
           <a href=""><button type="submit" class="btn btn-primary new-hero-search-btn">Search</button></a> 
    </form>

    </section>

      <!-- *********************************** <Hero Section>END ******************************************************  -->
  <!-- *********************************** <tabs Section> ******************************************************  -->

 
<%- include('./partials/tabs.ejs')  %>


      <!-- *********************************** <tabs Section>END******************************************************  -->
        

         <!-- footer -->
         <div class="container " > 
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" > <p class="col-md-4 mb-0 text-body-secondary">© 2025 Jobar.pk</p> 
                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap"> 
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  width="100px" height="100px" viewBox="0 0 100.000000 100.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none"> <path d="M673 964 c13 -53 -1 -89 -60 -156 -24 -27 -43 -55 -43 -63 0 -8 -9 -19 -21 -25 -11 -7 -18 -14 -16 -17 3 -3 21 7 40 21 18 14 36 23 40 20 12 -12 120 28 143 53 32 34 32 60 0 28 -29 -29 -123 -78 -139 -72 -7 2 11 16 39 30 88 45 124 106 89 153 -13 18 -14 17 -15 -18 0 -44 -33 -86 -106 -136 l-49 -34 52 49 c28 26 56 58 62 70 17 34 13 88 -8 114 l-19 24 11 -41z"/> <path d="M252 978 c-37 -47 -19 -111 49 -172 43 -39 47 -45 30 -51 -22 -7 -112 34 -148 68 -34 30 -29 1 5 -33 24 -23 87 -46 152 -54 3 -1 21 -12 40 -25 l35 -24 -28 29 c-15 17 -25 32 -23 35 3 3 -17 31 -45 63 -54 63 -64 90 -56 142 6 37 5 40 -11 22z"/> <path d="M187 937 c-23 -59 11 -115 95 -158 55 -28 58 -17 6 20 -48 34 -78 77 -88 125 -5 25 -7 28 -13 13z"/> <path d="M432 822 c-27 -24 -28 -32 -2 -25 28 7 35 -19 16 -56 -22 -42 -18 -140 5 -125 15 9 10 -17 -11 -55 -12 -20 -44 -52 -73 -71 -53 -36 -68 -68 -52 -108 5 -14 9 -10 20 14 7 18 34 51 59 74 26 24 49 54 52 67 6 22 7 23 20 6 16 -21 18 -10 4 18 -6 11 -7 19 -1 19 5 0 12 -12 15 -26 4 -15 31 -52 61 -83 34 -36 55 -67 57 -86 l4 -30 13 27 c21 42 7 71 -54 113 -57 39 -71 56 -85 106 -6 21 -5 27 5 23 21 -8 28 53 16 121 -10 51 -9 59 7 71 16 12 15 13 -5 14 -12 0 -28 2 -35 5 -8 3 -24 -3 -36 -13z"/> <path d="M160 761 c0 -19 64 -44 127 -49 35 -2 63 -2 63 1 0 3 -35 13 -77 22 -43 10 -86 21 -95 26 -12 6 -18 6 -18 0z"/> <path d="M757 763 c-4 -4 -47 -17 -95 -29 -87 -22 -87 -22 -37 -23 64 -1 117 14 140 39 16 18 8 30 -8 13z"/> <path d="M199 697 c10 -13 29 -17 80 -16 101 1 123 17 24 18 -45 1 -90 4 -100 8 -16 6 -16 5 -4 -10z"/> <path d="M645 700 c-61 -3 -82 -7 -65 -12 35 -11 132 -9 150 2 23 14 12 15 -85 10z"/> <path d="M315 669 c-22 -6 -53 -8 -69 -6 -27 4 -27 3 -11 -10 24 -17 40 -16 101 2 63 19 67 18 24 -5 -19 -11 -50 -19 -68 -20 -20 0 -31 -4 -27 -10 10 -16 51 -11 92 11 l38 21 -28 -26 c-15 -14 -37 -26 -48 -26 -10 0 -19 -4 -19 -10 0 -20 40 -9 75 21 47 41 45 26 -2 -17 -24 -23 -31 -34 -21 -34 9 0 28 14 42 31 28 33 36 27 11 -9 -14 -19 -14 -21 -1 -16 8 3 18 14 21 25 7 20 -10 59 -25 59 -6 0 -9 6 -7 12 3 16 -28 19 -78 7z"/> <path d="M550 675 c0 -10 113 -36 136 -31 36 9 29 21 -13 21 -21 0 -57 4 -80 8 -24 4 -43 5 -43 2z"/> <path d="M556 648 c5 -7 2 -9 -9 -5 -25 9 -30 -9 -12 -45 l16 -33 -21 24 c-15 17 -20 19 -20 8 0 -21 18 -31 59 -34 l34 -2 -36 30 c-20 17 -37 35 -37 41 0 5 16 -4 35 -21 37 -32 59 -39 70 -21 3 6 -3 10 -13 10 -11 0 -30 9 -43 20 -28 22 -14 27 15 5 23 -17 72 -20 81 -5 4 6 -7 10 -25 10 -17 0 -46 7 -66 15 -22 9 -32 10 -28 3z"/> <path d="M450 523 c0 -6 -18 -35 -40 -64 -45 -60 -52 -103 -22 -139 l18 -23 -4 34 c-2 22 7 61 28 112 17 44 29 81 26 85 -3 3 -6 1 -6 -5z"/> <path d="M480 518 c0 -4 14 -41 31 -84 20 -49 29 -88 26 -107 l-4 -31 18 23 c28 34 24 84 -9 123 -16 18 -36 44 -45 58 -9 13 -17 22 -17 18z"/> <path d="M115 454 c15 -104 70 -166 180 -205 83 -29 135 -74 134 -115 l-1 -29 -8 29 c-14 45 -37 64 -109 87 -91 29 -146 63 -176 107 -17 25 -25 31 -25 19 0 -46 67 -123 120 -137 19 -5 54 -14 77 -20 90 -23 124 -81 87 -151 -15 -29 -15 -30 5 -20 11 6 29 23 40 37 30 38 29 131 0 168 -22 28 -94 70 -107 62 -9 -5 -100 39 -126 62 -28 24 -76 103 -76 123 0 10 -5 21 -11 25 -9 5 -10 -7 -4 -42z"/> <path d="M460 488 c0 -9 5 -20 10 -23 12 -8 13 -152 1 -159 -13 -8 -22 51 -16 108 l5 51 -14 -35 c-8 -19 -15 -47 -15 -62 -1 -27 27 -98 39 -98 10 0 40 69 40 94 0 26 -29 117 -41 131 -6 5 -9 2 -9 -7z"/> <path d="M808 475 c-13 -58 -69 -126 -132 -161 -33 -18 -63 -31 -68 -28 -4 3 -22 -3 -40 -12 -102 -51 -126 -150 -56 -229 33 -39 58 -48 34 -13 -9 12 -16 39 -16 59 0 45 39 83 103 99 112 28 164 63 188 128 15 40 4 49 -16 14 -25 -42 -72 -72 -167 -106 -78 -28 -93 -39 -122 -91 l-17 -30 6 30 c9 44 63 89 137 114 116 39 184 122 176 217 -3 39 -3 39 -10 9z"/> <path d="M140 231 c0 -43 37 -65 139 -80 35 -6 66 -12 68 -15 10 -10 -113 7 -144 20 -18 7 -33 9 -33 5 0 -18 39 -41 71 -41 64 -1 123 -18 141 -40 21 -25 25 -9 8 34 -12 32 -36 44 -129 68 -42 10 -85 28 -98 40 -13 12 -23 16 -23 9z"/> <path d="M763 215 c-18 -13 -67 -30 -108 -40 -81 -18 -115 -45 -115 -93 l0 -25 20 25 c16 22 30 26 96 31 51 4 82 11 95 23 29 26 23 35 -13 20 -18 -7 -60 -16 -93 -19 -74 -6 -42 8 39 18 46 5 66 13 88 35 15 16 28 33 28 39 0 13 2 14 -37 -14z"/> </g> </svg></a>
                     <ul class="nav col-md-4 justify-content-end"> 
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
           </svg></a></li>
                         <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="36px" height="36px" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
  <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
</svg></a></li> 
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="36px" height="36px" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z"/>
</svg></a></li> 
                        <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li> 
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>  -->
                    </ul>
                </footer>
         </div>
         
         
 <!-- *********************************** <Bootstrap>  ******************************************************  -->
             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
 <!-- *********************************** <custom js>  ******************************************************  -->

             <script src="main.js"></script>

</body>
</html>